@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Table of Contents</h3>
<ul>
  <li><a href="@routes.HomeController.index#Introduction">Welcome</a>
  <li><a href="@routes.HomeController.explore">Play application overview</a>
  <li><a href="@routes.HomeController.tutorial">Implementing Hello World</a>
  <li><a href="@routes.HomeController.ubuntu">ubuntuTips</a>

</ul>
<h3>Related Resources</h3>
<ul>
  <li><a href="https://playframework.com/documentation/@version" target="_blank">Play documentation</a></li>
  <li><a href="https://discuss.lightbend.com/c/play/" target="_blank">Forum</a></li>
  <li><a href="//gitter.im/playframework/playframework" target="_blank">Gitter Channel</a></li>
  <li><a href="//stackoverflow.com/questions/tagged/playframework" target="_blank">Stackoverflow</a></li>
  <li><a href="//lightbend.com/how" target="_blank">Professional support</a></li>
</ul>
}