@(name: String)
@main("Hello") {
    <section id="content">
        <div class="wrapper doc">
            <article>
                <h1>Hello World</h1>
                hello @{name}は

            </article>
            <aside>
                @commonSidebar()
            </aside>
        </div>
    </section>
}